<head>
    <!-- CSS only -->
    <link href="habilidades.component.css">
</head>
<div class="container">
    <div>
        <h2 class="tuclase">Habilidades</h2>
    </div>
  
</div>

<div class="porcentaje">
    <div class="container">
        <div class="card">
            <div class="box">
                <div class="porcent">
                    <svg>
                        <circle cx="70" cy="70" r="70"/>
                        <circle cx="70" cy="70" r="70"/>
                    </svg>
                    <div class="number">
                        <h2>80<span>%</span></h2>
                    </div>
                    <h3 class="text">Tango Gestión</h3>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="porcent">
                    <svg>
                        <circle cx="70" cy="70" r="70"/>
                        <circle cx="70" cy="70" r="70"/>
                    </svg>
                    <div class="number">
                        <h2>60<span>%</span></h2>
                    </div>
                    <h3 class="text">HTML - CSS - JavaScrypt</h3>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="porcent">
                    <svg>
                        <circle cx="70" cy="70" r="70"/>
                        <circle cx="70" cy="70" r="70"/>
                    </svg>
                    <div class="number">
                        <h2>45<span>%</span></h2>
                    </div>
                    <h3 class="text">Inglés</h3>
                </div>
            </div>
        </div>
    </div>
</div>
