<h2 class="tuclase">Modifique los Datos</h2>

<div class="col-md-4 ofsset-md-2" style=" margin:0px auto;">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="sobreMi.nombre" class="form-control">
                </div>
                <div class="form-group">
                    <textarea type="text" name="apellido" [(ngModel)]="sobreMi.apellido" placeholder="apellido" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="text" name="profesion" [(ngModel)]="sobreMi.profesion" placeholder="profesion" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="sobre mi" [(ngModel)]="sobreMi.sobreMi" placeholder="Sobre Mi" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="provincia" [(ngModel)]="sobreMi.provincia" placeholder="Provincia" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="pais" [(ngModel)]="sobreMi.pais" placeholder="Pais" class="form-control">
                </div>
            </form>
           
        </div>
        <button type="button" class="btn btn-success" (click)="create()">Editar</button>
    </div>

</div>
